<h1>Cursos</h1>

<table>
	{% for course in courses %}
		<tr>
			<td>{{course.name}}</td>
			<td><a href="{{ path('edit_course_form', {'id': course.id}) }}">Editar</a></td>
			<td><a href="{{ path('delete_course', {'id': course.id}) }}">Apagar</a></td>
		</tr>
	{% endfor %}
</table>	