{% extends 'base.html.twig' %}
{% block content %}


    <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Cadastro de material</h3>
            </div>

            <div class="box-body">
                <div class="form-group">
                
                    {{ form_start(form) }}

                    
                    {{ form_end(form) }}
                    
                </div>
            </div>
          </div>

{% endblock %}